
        section.contact {
            background: #0a043c;
            padding: 90px 0;
            text-align: center;
            color: white;
        }

        section.contact h2 {
            color: #fff;
            font-family: "Playfair Display", serif;
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }

        section.contact p {
            font-weight: 200;
            font-size: 0.9rem;
            line-height: 1.2;
            color: #fff;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 45px;
            opacity: 0.7;
        }

        section.contact .form-group {
            margin-bottom: 20px;
        }

        section.contact .form-group input,
        section.contact .form-group textarea {
            width: 50%;
            padding: 15px;
            border: none;
            border-radius: 5px;
            background: #fff;
            color: #0a043c;
            font-size: 1rem;
        }

        section.contact .form-group textarea {
            height: 150px;
            resize: none;
        }

        section.contact .btn {
            background: #fff;
            color: #0a043c;
            padding: 16px 28px;
            text-transform: capitalize;
            display: inline-block;
            font-size: 0.9rem;
            -webkit-transition: 200ms;
            transition: 200ms;
            font-weight: 600;
        }

        section.contact .btn:hover {
            background: #fff;
            color: #0a043c;
        }

        @media (max-width: 768px) {
            section.contact {
                padding: 60px 0;
            }

            section.contact h2 {
                font-size: 2rem;
            }

            section.contact p {
                width: 80%;
            }
        }
